@{
    Layout = null;
    string PageId = ViewBag.PageId;
    SendSmsBaseRequestModel condtin = ViewBag.condtion;
}
<style>
    .phoneinput {
        padding:3px 0;
    }    
</style>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" style="padding:2px;">
        <script>
            $.get("/PCCCMain/HelloWord", function (Mut) {


                //此处作为当前页对象的使用
                var pNum = 1;//默认电话文本框的个数
                var SendPhoneForm = $("#@(PageId)SendPhoneForm");//表单
                var plAddPhoneBtn = $("#@(PageId)plAddPhoneBtn");//号码添加个数按钮
                var IsAddPhoneBtn = $("#@(PageId)IsAddPhoneBtn");//需要发送号码列表确认按钮
                var IsSendMessBtn = $("#@(PageId)IsSendMessBtn");//短信发送按钮
                var phoneNumDivList = $("#@(PageId)phoneNumDivList");//电话列表文本集合DIV对象
                var sendPhoneListText = $("#@(PageId)sendPhoneListText");//需要发送短信的电话文本集合对象
                var sendMessInfoText = $("#@(PageId)sendMessInfoText");//需要发送短信的短信内容集合对象
                var numspan = $("#@(PageId)numspan");//短信余额span标签对象
                var sendPhone = "";



                //电话号码列表个数添加的点击事件
                plAddPhoneBtn.click(function () {
                   //获取需要添加的个数，然后追加文本到div集合列表中
                   //获取手机号的个数
                    var addPhoneNumText = SendPhoneForm.find("input[name='addphonecount']").val();
                   var PhoneListHTML="";
                   if (addPhoneNumText > 0 && addPhoneNumText<100)
                   {
                       //循环生成需要的代码
                       for (var i = 1; i <= addPhoneNumText; i++) {
                           PhoneListHTML = PhoneListHTML + '<div style="width:100%; padding:5px 0;">No.' + parseInt(i + pNum) + '<input type="text" name="addPhoneText" class="easyui-numberbox"  validType="mobile"/></div>';
                       }
                       pNum = parseInt(addPhoneNumText) + parseInt(pNum);
                       phoneNumDivList.append(PhoneListHTML).clone(true);
                       //对此div内的所有元素进行渲染,参数可以是doc等对象，为空即为所有
                       $.parser.parse(phoneNumDivList);
                   }
                   else if (addPhoneNumText >= 100){
                       $.messager.alert('错误', '添加号码请勿超过100个', 'error');
                   } else {
                       $.messager.alert('错误', '添加号码<br />&nbsp;&nbsp;&nbsp;&nbsp;请先输入需要的号码个数', 'error');
                   }
               });
               //2016-03-07 wy
               //电话号码列表个数添加的点击事件
               IsAddPhoneBtn.click(function () {
                   sendPhoneListText.textbox('setValue', "");
                   var Reg = phoneNumDivList.form('enableValidation').form('validate');
                   if (!Reg) {
                       $.messager.alert('错误', '存在号码格式错误，请修正后再确认添加。', 'error');
                       return;
                   }
                   sendPhone = "";
                   var plt = sendPhoneListText.textbox('getValue');//获取电话div发送列表集合，被用作于匹配和过滤用（避免重复添加）
                   sendPhone = plt;
                   var phonnum = SendPhoneForm.find("input[name='addPhoneText']");//获取所有电话文本框
                   $(phonnum).each(
                        function () {
                            var phoneText=$(this).val();
                            if (phoneText != "") {
                                //如果需要发送的文本字符串里面包含文本框的电话号码，则不追加
                                //if (plt.indexOf(phoneText) < 0) {
                                //    sendPhone = sendPhone + phoneText + ",";
                                //}
                                sendPhone += phoneText + ",";
                            }
                            else {
                                //不作处理
                            }
                        }
                   )
                   //判断电话确认div集合时候为空，如果不为空的情况下，需要添加的电话号码文本框都属于空，那么则不做任何处理
                   if ( plt!= "" && sendPhone=="") {
                       //电话号码文本框列表都为空的前提下不做任何处理
                   }
                   else {
                       sendPhone = sendPhone.substring(0, sendPhone.length - 1);
                       sendPhoneListText.textbox('setValue', sendPhone);
                       // 此处不需要验证，加载前验证不通过无法进行加载电话
                   }
               });
                //2016-03-08 wy
                //发送短信确认按钮事件
               IsSendMessBtn.click(function () {
                   if ($(this).linkbutton('options').disabled == false) {
                       var SendBtn = $(this);
                       var messText = sendMessInfoText.textbox('getValue');//获取短信内容
                       if (messText.length <= 200) {
                           //验证需要发送的电话号码字符串是否合法

                           //此处需要获取最新的电话号码，防止被修改
                           sendPhone = sendPhoneListText.textbox('getValue');
                           if (sendPhone == "" || messText == "") {
                               $.messager.alert('错误', '接收电话号码或短信内容不能为空。', 'error');
                               return;
                           }
                           if (checkPhonelist(sendPhone)) {
                               //验证通过后，就进行短信发送命令
                               SendBtn.linkbutton('disable');
                               $.post("/api/ApiSms/SendSmsByPhones", {
                                   "mobilePhone": sendPhone,
                                   "content": messText
                               }, function (json) {
                                   if (json.ReturnCode != "0") {
                                       $.messager.alert('错误', json.ReturnMessage, 'error');
                                       return;
                                   }
                                   else {
                                       $.messager.alert("操作提示", "短信发送成功！");
                                       //重新获取余额
                                       getSurplusNum();
                                   }
                                   SendBtn.linkbutton('enable');
                               });
                           }
                       }
                       else {
                           $.messager.alert('错误', '短信内容（长度不能超过200个字符）。', 'error');
                       }
                   }
               })
                //--------------------------------------wy-------------------------------2016-03-08
                //验证类的被动方法
               $.extend($.fn.validatebox.defaults.rules, {
                   //检查电话
                   checkPhonelist: {
                       validator: function (value, param) {
                           var phonearg = value.split(",");
                           var flag = true;
                           for (var i = 0; i < phonearg.length; i++) {
                               var regx = /^[0-9]{11}$/;
                               if (phonearg[i] == "") {
                                   flag = false;
                               }
                               else
                               {
                                   flag = regx.test(phonearg[i]);
                               }
                               if (!flag) {
                                   return flag;
                               }
                           }
                           return true;
                       },
                       message: "接收手机号（格式为：手机号,手机号,最多不超过5000个）"
                   },
                   checkPhoneNum: {
                       validator: function (value, param) {
                           if ((value > 0 && value < 100) || value == "") {
                               return true
                           }
                           else {
                               return false;
                           }
                       },
                       message: "添加号码请勿超过100个"
                   }
               });

                //检查手机号码字符串是否合法wy
               function checkPhonelist(value) {
                   if (value.length > 60000)
                   {
                        //不通过返回提示信息，成功则不提示任何信息
                        $.messager.alert('错误', '接收手机号（格式为：手机号,手机号,最多不超过5000个）', 'error');
                        return false;
                   }
                   else
                   {
                       var phonearg = value.split(",");
                       var flag = true;
                       for (var i = 0; i < phonearg.length; i++) {
                           var regx = /^[0-9]{11}$/;
                           if (phonearg[i] == "") {
                               flag = false;
                           }
                           else {
                               flag = regx.test(phonearg[i]);
                           }
                           if (!flag) {
                               $.messager.alert('错误', '接收手机号（格式为：手机号,手机号,最多不超过5000个）', 'error');
                               return flag;
                           }
                       }
                   }
                   return true;
               }
                //获取短信共有方法
               function getSurplusNum()
               {
                   numspan.html("");//清楚结果
                   //load事件，获取短信余额数
                   $.ajax({
                       url: "/api/ApiSms/GetSurplusNum",
                       async: false,
                       dataType: 'json',
                       type: 'get',
                       contentType: "application/json",
                       success: function (data) {
                           numspan.append(data).clone(true);
                       },
                       error: function () {
                           numspan.append("获取异常，请刷新").clone(true);
                       }
                   });
               }
                //2016年03月07日11：55分 王怡，新增
                //自主获取短信余额数
               getSurplusNum();
            });
        </script>
        <!--短信平台管理-->
        <div class="easyui-panel" title="短信发送" style="padding:10px; width:520px">
            <form id="@(PageId)SendPhoneForm">
                <table class="formtable" style="width:500px;">
                    <tr>
                        <td colspan="2">当前余额：<span style="color:red;font-weight:bold;" id="@(PageId)numspan"></span>条，平台：漫道短信平台</td>
                    </tr>
                    <tr>
                        <td style="width:140px"><a href="javascript:void(0)" type="button" id="@(PageId)plAddPhoneBtn" class="easyui-linkbutton" data-options="iconCls:'icon-add'">在下方批量添加</a></td>
                        <td>
                            &nbsp;<input type="text" name="addphonecount" class="easyui-numberbox" value="1" data-options="validType:['checkPhoneNum','length[1,100]']"style="width:30px;"/>&nbsp;个手机号输入框
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight:bold;">输入手机号码</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div name="phoneNumDivList" id="@(PageId)phoneNumDivList">
                                <div style="width:100%;padding:5px 0;">No.1<input type="text" name="addPhoneText" class="easyui-numberbox" validType="mobile" /></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="javascript:void(0)" type="button" id="@(PageId)IsAddPhoneBtn" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加到待发送</a></td>
                    </tr>
                    <tr><td colspan="2">接收手机号（格式为：手机号,手机号,最多不超过5000个）</td></tr>
                    <tr>
                        <td colspan="2">
                            <input id="@(PageId)sendPhoneListText" class="easyui-textbox" data-options="multiline:true,required:true,validType:['checkPhonelist','length[0,60000]']" value="@condtin.mobilePhone" style="width:442px;height:50px">
                        </td>
                    </tr>
                    <tr><td colspan="2">短信内容（长度不能超过200个字符）</td></tr>
                    <tr>
                        <td colspan="2"><input id="@(PageId)sendMessInfoText" class="easyui-textbox" data-options="multiline:true,required:true"  value="@condtin.content" style="width:442px;height:80px"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="color:red; font-weight:bold;">只能发送通知类短信</td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="javascript:void(0)" type="button" id="@(PageId)IsSendMessBtn" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确认发送</a></td>
                    </tr>
                    
                </table>
            </form>
        </div>
    </div>
</div>

