@{
    Layout = null;
    SearchFlightInfoListRequestModel condtion = ViewBag.condtion;
    string q = Newtonsoft.Json.JsonConvert.SerializeObject(condtion);
    string PageId = ViewBag.PageId;
}
<script>
    $.post("/api/ApiFlightResource/GetFlightAirPortList", {
        "sorttype": 3,
        "showOtherAirport": false
    }, function (citylist) {
        var request = $.parseJSON('@Html.Raw(q)');//请求参数
        if (request.companyCode == null) {
            request.companyCode = "";
        }
        var searchform = $("#@(PageId)searchform");//查询栏表单
        var SelectFlightdepCity = $("#@(PageId)searchform input[name='SelectflightdepcityId']");//出发
        var SelectFlightarrCity = $("#@(PageId)searchform input[name='SelectflightarrcityId']");//到达
        var SearchFlightcompanyCode = $("#@(PageId)searchform input[name='companyCode']");//航空公司
        SelectFlightdepCity.combobox({
            valueField: 'code',
            textField: 'city',
            data: citylist,
            filter: function (q, n) {
                q = q.toLowerCase();
                if (n.city.indexOf(q) >= 0 || n.pinyin.toLowerCase().indexOf(q) >= 0 || n.PY.toLowerCase().indexOf(q) >= 0 || n.caption.toLowerCase().indexOf(q) >= 0) {
                    return true;
                }
                else {
                    return false;
                }
            },
            onSelect: function (record) {
                searchform.find("input[name='depCityCode']").val(record.code);
            }
        });
        SelectFlightarrCity.combobox({
            valueField: 'code',
            textField: 'city',
            data: citylist,
            filter: function (q, n) {
                q = q.toLowerCase();
                if (n.city.indexOf(q) >= 0 || n.pinyin.toLowerCase().indexOf(q) >= 0 || n.PY.toLowerCase().indexOf(q) >= 0 || n.caption.toLowerCase().indexOf(q) >= 0) {
                    return true;
                }
                else {
                    return false;
                }
            },
            onSelect: function (record) {
                searchform.find("input[name='arrCityCode']").val(record.code);
            }
        });
        SelectFlightdepCity.combobox("setValue", request.depCityCode);
        SelectFlightarrCity.combobox("setValue", request.arrCityCode);
        //航空公司
        $.post("/api/ApiFlightResource/GetFlightAirCompanyList", { sorttype: 3 }, function (aircompany) {
            aircompany.unshift({
                "code": "",
                "caption": "全部",
            });
            SearchFlightcompanyCode.combobox({
                valueField: 'code',
                textField: 'caption',
                data: aircompany,
                formatter: function (row) {
                    return row.code == "" ? row.caption : "[" + row.code + "]" + row.caption;
                }
            });
            searchform.form("load", request);
        });
        //查询按钮
        var SearchFlightBtn = $("#@(PageId)GridSearchBtn");
        SearchFlightBtn.click(function () {
            if ($(this).linkbutton('options').disabled == false) {
                var Reg = searchform.form('enableValidation').form('validate');
                if (Reg) {
                    request = searchform.serializeObject();
                    loadgrid();
                }
            }
        });

        var Grid = $("#@(PageId)Grid");
        //加载数据
        function loadgrid() {
            Grid.datagrid("loading");
            SearchFlightBtn.linkbutton("disable");
            console.log(request);
            $.post("/api/ApiFlightSearch/SearchFlightList", request, function (json) {
                SearchFlightBtn.linkbutton("enable");
                Grid.datagrid("loaded");
                var showDate = new Object();
                //加载数据
                if (json.ReturnCode == 0) {
                    showDate = {
                        total: json.flightList.length,
                        rows: json.flightList,
                        footer: [{
                            depTimeShow: "总计",
                            arrTimeShow: json.flightList.length + '条',
                            flightCompany: {
                                caption: "",
                            },
                            flightNo: "",
                            depCity: {
                                caption: "",
                            },
                            arrCity: {
                                caption: "",
                            },
                            depJetquay: "",
                            arrJetquay: ""
                        }]
                    };
                }
                else {
                    showDate = {
                        total: 1,
                        rows: [{
                            depTimeShow: "错误",
                            arrTimeShow: json.ReturnMessage,
                            flightCompany: {
                                caption: "",
                            },
                            depCity: {
                                caption: "",
                            },
                            arrCity: {
                                caption: "",
                            },
                            depJetquay: "",
                            arrJetquay: ""
                        }]
                    };
                }
                Grid.datagrid("loadData", showDate);
                $("#@(PageId)distance").text(json.distance);//航程
                $("#@(PageId)basePrice").text(json.basePrice);//标准价
            });
        }
        Grid.datagrid({
            pagination: false,
            rownumbers: true,
            border: false,
            fit: true,  //自动大小
            singleSelect: true,
            selectOnCheck: false,
            checkOnSelect: false,
            idField: "flightNo",
            showFooter: true,
            //fitColumns:true,
            rowStyler: function (index, row) {
               return row.isLowestOfDate ? "color:blue" : "";
            },
            columns: [[
                {
                    field: 'depTimeShow', title: '起飞时间', width: 60, align: 'center', styler: function (value, row, index) {
                        return "font-weight:bold";
                    }
                },
                {
                    field: 'arrTimeShow', title: '到达时间', width: 60, align: 'center'
                },
                {
                    field: 'flightNo', title: '航班号', width: 60, align: 'center'
                },
                {
                    field: 'lowPrice', title: '最低', width: 60, align: 'right', formatter: function (value, row) {
                        return value == null ? "" : "￥" + value + "元";
                    }
                },
                {
                    field: 'flightCompany', title: '航空公司', width: 60, align: 'left', formatter: function (value, row) {
                        return value.caption
                    }
                },
                {
                    field: 'planeType', title: '机型', width: 40, align: 'center'
                },
                {
                    field: 'meal', title: '餐食', width: 40, align: 'center', formatter: function (value, row) {
                        return value == null ? "" : value == "true" ? "有" : "无";
                    }
                },
                {
                    field: 'depCity', title: '出发机场', width: 120, align: 'left',
                    formatter: function (value, row) {
                        return value.caption == "" ? "" : value.caption + "[" + row.depJetquay + "]";
                    },
                    styler: function (value, row, index) {
                        return value.isOtherPortofTheCity ? "background-color:#ffee00;color:red;" : "";
                    }
                },
                {
                    field: 'stopnum', title: '经停', width: 40, align: 'center', formatter: function (value, row) {
                        return value == null ? "" : (value > 0) ? "是" : "否";
                    },
                    styler: function (value, row, index) {
                        return (value > 0) ? "background-color:#ffee00;color:red;" : "";
                    }
                },
                {
                    field: 'arrCity', title: '到达机场', width: 120, align: 'left', formatter: function (value, row) {
                        return value.caption == "" ? "" : value.caption + "[" + row.arrJetquay + "]";
                    },
                    styler: function (value, row, index) {
                        return value.isOtherPortofTheCity ? "background-color:#ffee00;color:red;" : "";
                    }
                },
                {
                    field: 'airportTax', title: '机建', width: 40, align: 'right'
                },
                {
                    field: 'fuelTax', title: '燃油', width: 40, align: 'right'
                }
            ]],
            onClickRow: function (rowIndex, rowData) {
                var d = {
                    total:rowData.seatList.length,
                    rows:rowData.seatList
                };
                SeatGrid.datagrid("unselectAll");
                SeatGrid.datagrid("loadData", d);
                $("#@(PageId)SeatGridPanel").panel("setTitle", "所选航班：" + rowData.flightNo + "[起飞时间：" + rowData.depTimeShow + "]");
            }
        });
        loadgrid();

        //舱位表
        var SeatGrid = $("#@(PageId)SeatGrid");
        SeatGrid.datagrid({
            pagination: false,
            rownumbers: false,
            border: false,
            fit: true,  //自动大小
            singleSelect: true,
            selectOnCheck: false,
            checkOnSelect: false,
            idField: "seatCode",
            columns: [[
                {
                    field: 'seatCode', title: '舱位码', width: 50, align: 'center'
                },
                {
                    field: 'seatMsg', title: '舱位', width: 50, align: 'center'
                },
                {
                    field: 'discountText', title: '折扣', width: 50, align: 'right'
                },
                {
                    field: 'parPrice', title: '票面价', width: 50, align: 'right'
                },
                {
                    field: 'totalPriceText', title: '合计', width: 160, align: 'right', styler: function (value, row, index) {
                        return "background-color:#efefef";
                    }
                },
                {
                    field: 'isSpecialseatType', title: '特价舱', width: 50, align: 'center', formatter: function (value, row) {
                        return value ? "是" : "否";
                    }
                },
                {
                    field: 'settlePrice', title: '采购价', width: 50, align: 'right'
                },
                {
                    field: 'policyInfo', title: '政策返点', width: 60, align: 'right', formatter: function (value, row) {
                        return value.commisionPoint + "%";
                    }
                },
            ]],
            toolbar: [
                {
                    text: '预订',
                    iconCls: 'icon-edit',
                    handler: function () {
                        var row = SeatGrid.datagrid("getSelected");
                        if (row != null) {

                        }
                        else {
                            $.messager.alert('提示', '请选择一个舱位', 'warning');
                        }
                    }
                }
            ]
        });

    });
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:'54',border:false">
        <div class="easyui-panel SearchBox" style="padding:10px;background:#F4F4F4;" data-options="fit:true,border:false">
            <form id="@(PageId)searchform">
                <table>
                    <tr>
                        <td>出发</td>
                        <td>
                            <input type="text" name="SelectflightdepcityId" data-options="required:true,prompt:'城市,拼音,机场'" style="width:80px;" />
                            <input type="hidden" name="depCityCode" value="" />
                        </td>
                        <td>到达</td>
                        <td>
                            <input type="text" name="SelectflightarrcityId" data-options="required:true,prompt:'城市,拼音,机场'" style="width:80px;" />
                            <input type="hidden" name="arrCityCode" value="" />
                        </td>
                        <td>起飞日期</td>
                        <td>
                            <input type="text" name="depDate" class="easyui-datebox" data-options="editable:false,required:true" validType="checkthisdate[0]" style="width:100px;" />
                        </td>
                        <td>舱位类型</td>
                        <td>
                            <select class="easyui-combobox" name="seatType" data-options="editable:false,required:true">
                                <option value="0">全部</option>
                                <option value="1">公务舱/头等舱</option>
                            </select>
                        </td>
                        <td>航空公司</td>
                        <td>
                            <input type="text" name="companyCode" data-options="editable:false,required:false" style="width:120px;" />
                        </td>
                        <td>排序方式</td>
                        <td>
                            <select class="easyui-combobox" name="sortType" data-options="editable:false,required:true">
                                <option value="0">出港时间</option>
                                <option value="1">价格</option>
                            </select>
                        </td>
                        <td><a href="javascript:void(0)" class="easyui-linkbutton" id="@(PageId)GridSearchBtn" data-options="iconCls:'icon-search'">查询</a></td>
                        <td>
                            航程：<span style="padding:0 3px;" id="@(PageId)distance"></span>公里，标准价：￥<span style="padding:0 3px;" id="@(PageId)basePrice"></span>元
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'east',border:false" style="width:40%;">
                <div class="easyui-panel" title="舱位" id="@(PageId)SeatGridPanel" data-options="fit:true">
                    <table id="@(PageId)SeatGrid"></table>
                </div>
            </div>
            <div data-options="region:'center',border:false">
                <table id="@(PageId)Grid"></table>
            </div>
        </div>
    </div>
</div>