@{
    Layout = null;
    GetFlightAirCompanyListRequestModel condtion = ViewBag.condtion;
    string PageId = ViewBag.PageId;
}
<script>
    $.get("/PCCCMain/HelloWord", function (Mut) {
        var request = {
            sorttype: "@condtion.sorttype.GetHashCode()"
        };
        //网格
        var GridFullData = new Object();//完整的数据
        var Grid = $("#@(PageId)Grid");
        function loadgrid() {
            //加载网格
            Grid.datagrid("loading");
            $.post("/api/ApiFlightResource/GetFlightAirCompanyList", request, function (json) {
                Grid.datagrid("loaded");
                var showdata = {
                    total: json.length,
                    rows: json,
                    footer: [
                        {
                            code: '总计:',
                            caption: json.length + ' 条记录'
                        }
                    ]
                };
                Grid.datagrid("loadData", showdata);
                GridFullData = showdata;
                editrow = undefined;
            });
        }
        //行编辑
        var editrow = undefined;//当前正在编辑的行
        //网格初始化
        Grid.datagrid({
            pagination: false,
            rownumbers: true,
            border: false,
            fit: true,  //自动大小
            singleSelect: true,
            idField: "id",
            showFooter:true,
            columns: [[
                {
                    field: 'code', title: '编码', width: 60, align: 'center', editor: { type: "textbox", options: { required: true, validType: "length[1, 2]" } }
                },
                {
                    field: 'caption', title: '航空公司', width: 80, editor: { type: "textbox", options: { required: true, validType: "length[1, 10]" } }
                },
                {
                    field: 'company', title: '全名', width: 180, editor: { type: "textbox", options: { required: true, validType: "length[1, 20]" } }
                },
                {
                    field: 'sort', title: '排序', width: 40, align: 'center', editor: { type: "numberbox", options: { required: false } }
                },
                {
                    field: 'imgFilePath', title: 'LOGO图片地址', width: 200, editor: { type: "textbox", options: { required: false, } }
                },
                {
                    field: 'modifiedOn', title: '创建/编辑时间', width: 120,align:'right', formatter: function (value, row) {
                        if (value != null) {
                            return new Date(value).Format("yyyy-MM-dd hh:mm");
                        }
                    }
                }
            ]],
            toolbar: [
               {
                   text: '新增',
                   iconCls: 'icon-add',
                   handler: function () {
                       if (editrow == undefined) {
                           Grid.datagrid("insertRow", { index: 0, row: { id: "" } }).datagrid("beginEdit", 0).datagrid("selectRow", 0);
                           editrow = 0;
                       }
                       else {
                           Grid.datagrid("selectRow", editrow);
                       }
                   }
               },
               {
                   text: '编辑',
                   iconCls: 'icon-edit',
                   handler: function () {
                       //获取选中的行
                       var row = Grid.datagrid('getSelected');
                       if (row != null) {
                           if (editrow == undefined) {
                               var rowindex = Grid.datagrid("getRowIndex", row);
                               Grid.datagrid("beginEdit", rowindex);
                               editrow = rowindex;
                           }
                           else {
                               Grid.datagrid("selectRow", editrow);
                           }
                       }
                       else {
                           $.messager.alert('提示', '请先选择一行', 'warning');
                       }
                   }
               },
               {
                   text: '保存',
                   iconCls: 'icon-save',
                   handler: function () {
                       if (editrow != undefined) {
                           var v = Grid.datagrid("validateRow", editrow);
                           if (v) {
                               var row = Grid.datagrid("endEdit", editrow).datagrid("selectRow", editrow).datagrid("getSelected");
                               console.log(row);
                               $.post("/api/ApiFlightResource/EditFlightAirCompany", row, function (json) {
                                   if (json.ReturnCode == 0) {
                                       $.messager.alert('Success', "保存成功", 'info');
                                       loadgrid();
                                   }
                                   else {
                                       $.messager.alert('错误', json.ReturnMessage, 'error');
                                       Grid.datagrid("beginEdit", editrow);
                                   }
                               });
                           }
                           else {
                               Grid.datagrid("selectRow", editrow);
                           }
                       }
                       else {
                           $.messager.alert('提示', '没有数据需要保存', 'warning');
                       }
                   }
               },
               {
                   text: '取消编辑',
                   iconCls: 'icon-undo',
                   handler: function () {
                       if (editrow != undefined) {
                           Grid.datagrid("selectRow", editrow).datagrid("cancelEdit", editrow);
                           var row = Grid.datagrid("getSelected");
                           if (row.id == "") {
                               Grid.datagrid("deleteRow", editrow);
                           }
                           editrow = undefined;
                       }
                   }
               },
               {
                   text: '删除',
                   iconCls: 'icon-clear',
                   handler: function () {
                       if (editrow == undefined) {
                           var row = Grid.datagrid('getSelected');
                           if (row != null) {
                               $.messager.confirm('请确认', '确认删除' + row.caption + '[' + row.code + ']', function (r) {
                                   if (r) {

                                   }
                               });
                           }
                           else {
                               $.messager.alert('提示', '请先选择一行', 'warning');
                           }
                       }
                       else {
                           $.messager.alert('提示', '请先结束数据网格的编辑状态', 'warning');
                       }
                   }
               },
               {
                   text: '刷新',
                   iconCls: 'icon-reload',
                   handler: function () {
                       loadgrid();
                   }
               }
            ],
            loadFilter: function (data) {
                var d = searchform.serializeObject();
                var r = new Object();
                if (d.q != "") {
                    d.q = d.q.toLowerCase();
                    var newdata = new Array();
                    $.each(data.rows, function (i, n) {
                        if (n.code.toLowerCase() == d.q || n.caption.indexOf(d.q) >= 0) {
                            newdata.push(n);
                        }
                    });
                    r = {
                        total: newdata.length,
                        rows: newdata
                    };
                }
                else {
                    r = data;
                }
                return r;
            }
        });
        //加载网格数据
        loadgrid();

        //查询栏
        var searchform = $("#@(PageId)searchform");
        var selectsort = $("#@(PageId)selectsort");
        var searchbtn = $("#@(PageId)GridSearchBtn");
        selectsort.combobox({
            onChange: function (newValue, oldValue) {
                request.sorttype = newValue;
                loadgrid();
            }
        });
        searchbtn.click(function () {
            Grid.datagrid("loadData", GridFullData);
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:'54',border:false">
        <div class="easyui-panel SearchBox" style="padding:10px;background:#F4F4F4;" data-options="fit:true,border:false">
            <form id="@(PageId)searchform">
                <table>
                    <tr>
                        <td>排序方式</td>
                        <td>
                            <select class="easyui-combobox" id="@(PageId)selectsort" data-options="editable:false">
                                <option value="0">按编辑时间[0]</option>
                                <option value="3">按排序号降序[3]</option>
                            </select>
                        </td>
                        <td>关键字</td>
                        <td><input type="text" name="q" class="easyui-textbox" data-options="prompt:'编码,航空公司'" /></td>
                        <td><a href="javascript:void(0)" class="easyui-linkbutton" id="@(PageId)GridSearchBtn" data-options="iconCls:'icon-search'">查询</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false"><table id="@(PageId)Grid"></table></div>
</div>