@{
    Layout = null;
    GetFlightAirPortListRequestModel condtion = ViewBag.condtion;
    string PageId = ViewBag.PageId;
}
<script>
    $.get("/PCCCMain/HelloWord", function (Mut) {
        var request = {
            "sorttype": "@condtion.sorttype",
            "showOtherAirport":"@condtion.showOtherAirport"
        }
        var Grid = $("#@(PageId)Grid");//网格
        var editWin = $("#@(PageId)editwin");//新增/编辑窗口
        var editform = $("#@(PageId)editwin form");//新增编辑窗口表单
        //初始化新增编辑窗口
        editWin.dialog({
            buttons: [
                {
                    text:'保存',
                    iconCls: 'icon-save',
                    handler: function () {
                        var btn = $(this);
                        if (btn.linkbutton('options').disabled == false) {
                            var Reg = editform.form('enableValidation').form('validate');
                            if (Reg) {
                                btn.linkbutton('disable');
                                var d = editform.serializeObject();
                                console.log(d);
                                $.post("/api/ApiFlightResource/EditFlightAirPort", d, function (json) {
                                    console.log(json);
                                    if (json.ReturnCode == 0) {
                                        $.messager.alert('Success', "保存成功", 'info');
                                        editWin.dialog("close");
                                        loadgrid();
                                    }
                                    else {
                                        $.messager.alert('错误', json.ReturnMessage, 'error');
                                    }
                                    btn.linkbutton('enable');
                                });
                            }
                        }
                    }
                },
                {
                    text: '关闭',
                    iconCls: 'icon-clear',
                    handler: function () {
                        editWin.dialog("close");
                    }
                }
            ],
            onClose: function () {
                editform.form("clear");
            }
        });

        var GridFullData = new Object();//完整的数据

        //加载网格
        function loadgrid() {
            Grid.datagrid("loading");
            $.post("/api/ApiFlightResource/GetFlightAirPortList", request, function (json) {
                Grid.datagrid("loaded");
                var showdata = {
                    total: json.length,
                    rows: json,
                    footer: [
                        {
                            code: '总计:',
                            city: json.length + ' 条记录'
                        }
                    ]
                };
                Grid.datagrid("loadData", showdata);
                GridFullData = showdata;
            });
        }
        //网格初始化
        Grid.datagrid({
            pagination: false,
            rownumbers: true,
            border: false,
            fit: true,  //自动大小
            singleSelect: true,
            idField: "id",
            showFooter:true,
            columns: [[
                {
                    field: 'code', title: '三字码', width: 60, align: 'center'
                },
                {
                    field: 'city', title: '城市', width: 80
                },
                {
                    field: 'pinyin', title: '拼音（全拼）', width: 80
                },
                {
                    field: 'PY', title: '拼音（首字母）', width: 100
                },
                {
                    field: 'hot', title: '热门', width: 40, align: 'center', formatter: function (value, row) {
                        return value ? "是" : "否";
                    }
                },
                {
                    field: 'caption', title: '机场全名', width: 120
                },
                {
                    field: 'isOtherPortofTheCity', title: '第二机场', width: 80, formatter: function (value, row) {
                        return value ? "是" : "否";
                    }, styler: function (value, row, index) {
                        return value ? "background-color:#ffee00;color:red;" : "";
                    }
                },
                {
                    field: 'modifiedOn', title: '创建/编辑时间', align:'right', width: 120, formatter: function (value, row) {
                        if (value != null) {
                            return new Date(value).Format("yyyy-MM-dd hh:mm");
                        }
                    }
                }
            ]],
            toolbar: [
                {
                    text: '新增',
                    iconCls: 'icon-add',
                    handler: function () {
                        editWin.dialog("open");
                    }
                },
                {
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {
                        //获取选中的行
                        var row = Grid.datagrid('getSelected');
                        if (row != null) {
                            row.isOtherPortofTheCity = row.isOtherPortofTheCity ? "true" : "false";
                            row.hot = row.hot ? "true" : "false";
                            editform.form("load", row);
                            editWin.dialog("open");
                        }
                        else {
                            $.messager.alert('提示', '请先选择一行', 'warning');
                        }
                    }
                },
                {
                    text: '删除',
                    iconCls: 'icon-clear',
                    handler: function () {
                        var row = Grid.datagrid('getSelected');
                        if (row != null) {
                            $.messager.confirm('请确认', '确认删除'+row.city+'['+ row.code +']', function (r) {
                                if (r) {
                                    $.getJSON("/api/ApiFlightResource/DelFlightAirPort/" + row.id, function (json) {
                                        if (json.ReturnCode == 0) {
                                            $.messager.alert('Success', "删除成功", 'info');
                                            loadgrid();
                                        }
                                        else {
                                            $.messager.alert('错误', json.ReturnMessage, 'error');
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert('提示', '请先选择一行', 'warning');
                        }
                    }
                },
                {
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        loadgrid();
                    }
                }
            ],
            loadFilter: function (data) {
                var d = searchform.serializeObject();
                var r = new Object();
                if (d.q != "") {
                    d.q = d.q.toLowerCase();
                    var newdata = new Array();
                    $.each(data.rows, function (i, n) {
                        if (n.city.indexOf(d.q) >= 0 || n.pinyin.toLowerCase().indexOf(d.q) >= 0 || n.PY.toLowerCase().indexOf(d.q) >= 0 || n.caption.toLowerCase().indexOf(d.q) >= 0 || n.code.toLowerCase()==d.q) {
                            newdata.push(n);
                        }
                    });
                    r = {
                        total: newdata.length,
                        rows: newdata
                    };
                }
                else {
                    r = data;
                }
                console.log(r);
                return r;
            }
        });
        loadgrid();

        //查询栏
        var searchform = $("#@(PageId)searchform");
        var selectsort = $("#@(PageId)selectsort");
        var searchbtn = $("#@(PageId)GridSearchBtn");
        selectsort.combobox({
            onChange: function (newValue, oldValue) {
                request.sorttype = newValue;
                loadgrid();
            }
        });
        searchbtn.click(function () {
            Grid.datagrid("loadData", GridFullData);
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true">
    <div id="@(PageId)editwin" class="easyui-dialog" title="新增/编辑" style="width:500px; padding:5px;" data-options="iconCls:'icon-save',resizable:true,modal:true,inline:true,closed:true">
        <form>
            <input type="hidden" name="id" value="" />
            <table class="formtable">
                <tr>
                    <td>三字码</td>
                    <td><input type="text" name="code" class="easyui-textbox" data-options="required:true,validType:'length[1,3]'" /></td>
                </tr>
                <tr>
                    <td>城市</td>
                    <td><input type="text" name="city" class="easyui-textbox" data-options="required:true,validType:'length[1,10]'" /></td>
                </tr>
                <tr>
                    <td>拼音（全拼）</td>
                    <td><input type="text" name="pinyin" class="easyui-textbox" data-options="required:true,validType:'length[1,20]'" /></td>
                </tr>
                <tr>
                    <td>拼音（首字母）</td>
                    <td><input type="text" name="PY" class="easyui-textbox" data-options="required:true,validType:'length[1,10]'" /></td>
                </tr>
                <tr>
                    <td>是否热门城市</td>
                    <td>
                        <select name="hot" class="easyui-combobox" data-options="editable:false,required:true">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>机场全名</td>
                    <td><input type="text" name="caption" class="easyui-textbox" data-options="required:true,validType:'length[1,10]'" /></td>
                </tr>
                <tr>
                    <td>第二机场</td>
                    <td>
                        <select name="isOtherPortofTheCity" class="easyui-combobox" data-options="editable:false,required:true">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'north',height:'54',border:false">
        <div class="easyui-panel SearchBox" style="padding:10px;background:#F4F4F4;" data-options="fit:true,border:false">
            <form id="@(PageId)searchform">
                <table>
                    <tr>
                        <td>排序方式</td>
                        <td>
                            <select class="easyui-combobox" id="@(PageId)selectsort" data-options="editable:false">
                                <option value="0">按时间降序</option>
                                <option value="1">按时间升序</option>
                                <option value="2">非热门在前</option>
                                <option value="3">热门在前</option>
                                <option value="4">城市升序</option>
                                <option value="5">城市降序</option>
                            </select>
                        </td>
                        <td>关键字</td>
                        <td><input type="text" name="q" class="easyui-textbox" data-options="prompt:'城市,三字码,拼音,机场'" /></td>
                        <td><a href="javascript:void(0)" class="easyui-linkbutton" id="@(PageId)GridSearchBtn" data-options="iconCls:'icon-search'">查询</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false"><table id="@(PageId)Grid"></table></div>
</div>