@{
    Layout = null;
    GetElongHotelInfoReponseModel result = ViewBag.result;
    string PageId = ViewBag.PageId;
}
<div class="easyui-layout" data-options="fit:true,border:false">
<div data-options="region:'center',border:false" style="padding:5px;">
@if (result.ReturnCode == EnumErrorCode.Success)
{
    ElongHotelInfoModel info = result.hoteldetail[0];
    if (info.rooms.Count() > 0)
    {
        ElongHotelRoomInfoModel room = info.rooms[0];
        if (room.ratePlans.Count() > 0)
        {
            ListRatePlan rate = room.ratePlans[0];
            <!--酒店-->
            <table class="formtable" style="margin-bottom:5px; width:800px;">
                <tr>
                    <td colspan="5"><h3>@info.hotelName</h3></td>
                    <td rowspan="5" style="width:200px;">
                        <div id="@(PageId)BaiduMap" style="width:200px; height:200px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>所在地区：</td>
                    <td colspan="4">@info.locationInfo.cityInfo.CityName - @info.locationInfo.District (@info.locationInfo.BusinessZone)</td>
                </tr>
                <tr>
                    <td>详细地址：</td>
                    <td colspan="4">@info.address</td>
                </tr>
                <tr>
                    <td>电话：</td>
                    <td colspan="4">@info.phone</td>
                </tr>
                <tr>
                    <td>入住日期</td>
                    <td><strong style="color:red">@result.request.arrivalDate.ToShortDateString()</strong></td>
                    <td>离店日期</td>
                    <td><strong style="color:red">@result.request.departureDate.ToShortDateString()</strong></td>
                    <td>共计：<strong style="color:red">@((result.request.departureDate - result.request.arrivalDate).Days) 晚</strong></td>
                </tr>
            </table>
            <script>
                $.get("/PCCCMain/HelloWord", function (Mut) {
                    var map = new BMap.Map("@(PageId)BaiduMap"); // 创建地图实例
                    var point = new BMap.Point(@(info.baiduPosition.lng), @(info.baiduPosition.lat));  // 创建点坐标
                    map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别
                    var marker = new BMap.Marker(point);        // 创建标注
                    map.addOverlay(marker);                     // 将标注添加到地图中
                    map.addControl(new BMap.NavigationControl());
                });
            </script>

            //担保
            string GuaranteeRule = "";
            GuaranteeRule GuaranteeRuleRow = new GuaranteeRule();
            if (!string.IsNullOrEmpty(rate.GuaranteeRuleIds))
            {
                string Description = "";
                int GuaranteeRuleId = int.Parse(rate.GuaranteeRuleIds);
                GuaranteeRuleRow = info.guaranteeRules.SingleOrDefault(p => p.GuranteeRuleId == GuaranteeRuleId);
                if (GuaranteeRuleRow != null)
                {
                    Description = GuaranteeRuleRow.Description;
                }
                else {
                    GuaranteeRuleRow = new GuaranteeRule();
                }
                GuaranteeRule = Description;
            }
            //预订
            string BookingRule = "";
            if (!string.IsNullOrEmpty(rate.BookingRuleIds))
            {
                string[] ids = rate.BookingRuleIds.Split(',');
                string Description = "";
                foreach (string id in ids)
                {
                    long BookingRuleId = long.Parse(id);
                    BookingRule BookingRuleRow = info.bookingRules.SingleOrDefault(p => p.BookingRuleId == BookingRuleId);
                    if (BookingRuleRow != null)
                    {
                        Description += BookingRuleRow.Description + " ";
                    }
                }
                BookingRule = Description;
            }
            //增值服务
            string ValueAdd = "";
            if (!string.IsNullOrEmpty(rate.ValueAddIds))
            {
                string[] ids = rate.ValueAddIds.Split(',');
                string Description = "";
                foreach (string id in ids)
                {
                    ValueAdd ValueAddRow = info.valueAdds.SingleOrDefault(p => p.ValueAddId == id);
                    if (ValueAddRow != null)
                    {
                        Description += ValueAddRow.Description + " ";
                    }
                }
                ValueAdd = Description;
            }
            //促销
            string DrrRule = "";
            if (!string.IsNullOrEmpty(rate.DrrRuleIds))
            {
                string[] ids = rate.DrrRuleIds.Split(',');
                string Description = "";
                foreach (string id in ids)
                {
                    int DrrRuleId = int.Parse(id);
                    DrrRule DrrRuleRow = info.drrRules.SingleOrDefault(p => p.DrrRuleId == DrrRuleId);
                    if (DrrRuleRow != null)
                    {
                        Description += DrrRuleRow.Description + " ";
                    }
                }
                DrrRule = Description;
            }

            <!--房型-->
            <table class="formtable" style="width:800px; margin-bottom:5px;">
                <tr>
                    <td rowspan="2" style="width:80px;"><img src="@room.imageUrl" style="width:80px; height:80px" /></td>
                    <td>
                        <h3>@room.name 【@rate.RatePlanName】</h3>
                    </td>
                    <td rowspan="2" style="text-align:center; width:150px;">
                        <h3>￥@rate.AverageRate.ToString("0.##") 元<br />（间/晚） </h3>
                    </td>
                </tr>
                <tr>
                    <td>@room.description @room.comments</td>
                </tr>
                @if (!string.IsNullOrEmpty(ValueAdd))
                {
                <tr>
                    <td colspan="3">@ValueAdd</td>
                </tr>
                }
                @if (!string.IsNullOrEmpty(BookingRule))
                {
                <tr>
                    <td colspan="3">@BookingRule</td>
                </tr>
                }
                @if (!string.IsNullOrEmpty(DrrRule))
                {
                <tr>
                    <td colspan="3">@DrrRule</td>
                </tr>
                }
            </table>
            <!--预订表单-->
            <form id="@(PageId)createorderform">
                <!--预订参数-->
                <input type="hidden" name="customerType" value="@rate.CustomerType" />
                <input type="hidden" name="paymentType" value="@rate.PaymentType" />
                <input type="hidden" name="currencyCode" value="@rate.CurrencyCode" />
                <input type="hidden" name="hotelId" value="@info.id" />
                <input type="hidden" name="roomTypeId" value="@rate.RoomTypeId" />
                <input type="hidden" name="ratePlanId" value="@rate.RatePlanId" />
                <input type="hidden" name="arrivalDate" value="@result.request.arrivalDate.ToShortDateString()" />
                <input type="hidden" name="departureDate" value="@result.request.departureDate.ToShortDateString()" />
                <table class="formtable" style="width:800px; margin-bottom:5px;">
                    <tr>
                        <td style="width:90px;">预订间数：</td>
                        <td>
                            <select class="easyui-combobox" name="numberOfCustomers" id="@(PageId)selectroomnum" data-options="editable:false">
                                <option value="1">1 间</option>
                                @{int alloment = (rate.CurrentAlloment > 0 && rate.CurrentAlloment <= 5) ? rate.CurrentAlloment : 5;
                                    for (int i = 2; i <= alloment; i++)
                                    {
                                        <option value="@i">@i 间</option>
                                    }
                                }
                            </select>
                            <span style="color:red" id="@(PageId)guaranteeroominfo"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>合计金额：</td>
                        <td><span style="font-size:1.5em; color:red; font-weight:bold;">￥<span id="@(PageId)totPrice">300.00</span>元</span></td>
                    </tr>
                    <tr>
                        <td>联系人：</td>
                        <td><input type="text" name="contactName" class="easyui-textbox" data-options="required:true" /></td>
                    </tr>
                    <tr>
                        <td>联系电话：</td>
                        <td><input type="text" name="contactMobile" class="easyui-textbox" data-options="required:true" validType="mobile" /></td>
                    </tr>
                    <tr>
                        <td>入住人：</td>
                        <td id="@(PageId)roomCustomer"></td>
                    </tr>
                    <tr>
                        <td>最晚到店时间：</td>
                        <td>
                            <select class="easyui-combobox" id="@(PageId)selecttime" name="selecttime" data-options="editable:false,required:true">
                                @foreach (Combobox time in info.sysProposalArrivalTime) {
                                    <option value="@time.id">@time.text</option>
                                }
                            </select>
                            <span style="color:red" id="@(PageId)guaranteetimeinfo"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>担保类型：</td>
                        <td>@info.guaranteeType.ToString()</td>
                    </tr>
                    @if (!string.IsNullOrEmpty(GuaranteeRule))
                    {
                        <tr>
                            <td>担保说明：</td>
                            <td>@GuaranteeRule</td>
                        </tr>
                    }
                    <tr>
                        <td>给酒店的备注：</td>
                        <td><input type="text" name="noteToHotel" class="easyui-textbox" style="width:300px;" />（选填）</td>
                    </tr>
                    <tr>
                        <td>给艺龙的备注：</td>
                        <td><input type="text" name="noteToElong" class="easyui-textbox" style="width:300px;" />（选填）</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="javascript:void(0)" id="@(PageId)confimelongorderbtn"  class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确认预订（通过艺龙酒店接口预订）</a>&nbsp;<a href="javascript:void(0)" id="@(PageId)createlocationorderbtn" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">创建订单（创建该酒店房型的本地酒店订单）</a></td>
                    </tr>
                </table>
                <script>
                    $.get("/PCCCMain/HelloWord", function (Mut) {
                        var needGuarantee = false;//是否需要担保

                        //间数，担保与入住人联动
                        function setroomnum(roomnum){
                            var Customerinput = "";
                            for(var i=0;i<roomnum;i++){
                                Customerinput += "<span style='padding-right:5px;'><input type='text' class='easyui-textbox' data-options='required:true' name='customers' style='width:50px;' /></span>";
                            }
                            roomCustomer.html(Customerinput);
                            $.parser.parse(roomCustomer);//重新渲染插件
                            //计算总价
                            var tot = parseFloat("@rate.TotalRate.ToString("0.00")");
                            var totrate = (tot*roomnum).toFixed(2);
                            $("#@(PageId)totPrice").text(totrate);
                        }
                        //房量检查
                        function checkguaranteeroomnum(d){
                            var amount = "@GuaranteeRuleRow.Amount";
                            amount = parseInt(amount);
                            if (d.roomnum >= amount){
                                $("#@(PageId)guaranteeroominfo").text("预订超过"+amount+"间，需要担保");
                                return true; //需要担保
                            }
                            else{
                                $("#@(PageId)guaranteeroominfo").text("预订未超过"+amount+"间，无需担保");
                                return false;//不需要担保
                            }
                        }
                        //时间检查
                        function checkguaranteeintime(d){
                            //开始担保与担保结束
                            var t = {
                                startime : new Date("@result.request.arrivalDate.ToShortDateString() @GuaranteeRuleRow.StartTime"),
                                endtime : new Date("@result.request.arrivalDate.ToShortDateString() @GuaranteeRuleRow.EndTime"),
                                selectstartime : new Date(d.stime[0]),
                                selectendtime : new Date(d.stime[1])
                            };
                            var useendtime = true;
                            if (t.startime>t.endtime){
                                useendtime = false;//当EndTime小于StartTime的时候，默认从StartTime到次日6点都需要担保。
                            }
                            //如果规定的时间点起点早于最晚到店时间 或者 （启用担保结束时间 并且  担保结束时间晚于最晚到店时间）
                            if (t.startime<t.selectendtime || (useendtime && t.endtime>t.selectendtime)){
                                $("#@(PageId)guaranteetimeinfo").text("晚于@(GuaranteeRuleRow.StartTime)到店，需要担保");
                                return true;
                            }
                            else{
                                $("#@(PageId)guaranteetimeinfo").text("早于@(GuaranteeRuleRow.StartTime)到店，无需担保");
                                return false;
                            }
                        }
                        //检查担保
                        function checkguarantee(){
                            //获取担保计算条件
                            var d ={
                                guaranteetype : "@info.guaranteeType.GetHashCode()",
                                roomnum : selectroomnum.combobox("getValue"),
                                stime : selecttime.combobox("getValue").split(',')
                            };
                            console.log(d);
                            switch(d.guaranteetype){
                                case "0"://无需担保
                                    break;
                                case "1"://房量担保
                                    needGuarantee = checkguaranteeroomnum(d);
                                    break;
                                case "2"://到店时间担保
                                    needGuarantee = checkguaranteeintime(d);
                                    break;
                                case "3"://时间或者房量担保
                                    var boolnum = checkguaranteeroomnum(d);
                                    var booltime = checkguaranteeintime(d);
                                    needGuarantee = (boolnum || booltime);
                                    break;
                                case "4"://无条件担保
                                    needGuarantee = true;
                                    break;
                            }
                            console.log("当前选择需要担保？"+ needGuarantee);
                        }
                        var createorderform = $("#@(PageId)createorderform");//订单表单
                        var selectroomnum = $("#@(PageId)selectroomnum");//间数选择
                        var selecttime = $("#@(PageId)selecttime");//选择到到时间
                        var roomCustomer = $("#@(PageId)roomCustomer");//入住人
                        setroomnum(selectroomnum.combobox("getValue"));
                        checkguarantee();//检查担保
                        selectroomnum.combobox({
                            onChange:function(newValue, oldValue){
                                setroomnum(newValue);
                                checkguarantee();
                                return true;
                            }
                        });
                        selecttime.combobox({
                            onChange:function(newValue, oldValue){
                                checkguarantee();
                                return true;
                            }
                        });
                        //创建本地酒店订单（不通过艺龙预订）
                        var createlocationorderbtn = $("#@(PageId)createlocationorderbtn");
                        var createlocationwin = $("#@(PageId)creteelocationorderwin");
                        createlocationorderbtn.click(function(){
                            createlocationwin.dialog("open");
                        });
                        //创建艺龙酒店订单
                        var confirmorderbtn = $("#@(PageId)confimelongorderbtn");//请确认通过艺龙预订该酒店（包含弹出信用卡信息）
                        var confirmorderwin = $("#@(PageId)creteelongorderconfirmwin");//通过艺龙预订确认窗
                        var confirmorderform = $("#@(PageId)creteelongorderconfirmform");//通过艺龙确认窗口表单
                        var createorderbaseform = $("#@(PageId)createorderform");//基础表单
                        var createelonghotelorderrequest = undefined;//预订请求参数
                        confirmorderbtn.click(function(){
                            //表单验证
                            createorderbaseform.form('submit',{
                                onSubmit:function(){
                                    var Reg = $(this).form('enableValidation').form('validate');
                                    if (Reg) {
                                        createelonghotelorderrequest = createorderbaseform.serializeObject();//序列化为JSON对象格式
                                        //房间数量
                                        createelonghotelorderrequest.numberOfRooms = createelonghotelorderrequest.numberOfCustomers;
                                        //联系人
                                        createelonghotelorderrequest.contact = {
                                            Name:createelonghotelorderrequest.contactName,
                                            Mobile:createelonghotelorderrequest.contactMobile
                                        };
                                        //入住人
                                        createelonghotelorderrequest.orderRooms = new Array();
                                        if (Object.prototype.toString.call(createelonghotelorderrequest.customers) === '[object Array]'){
                                            //如果入住人是数组
                                            $.each(createelonghotelorderrequest.customers,function(i,n){
                                                var Customers = [{
                                                    Name:n
                                                }];
                                                createelonghotelorderrequest.orderRooms.push(Customers);
                                            });
                                        }
                                        else{
                                            var Customers = [{
                                                Name:createelonghotelorderrequest.customers
                                            }];
                                            createelonghotelorderrequest.orderRooms.push(Customers);
                                        }
                                        //到店时间
                                        var selecttimearr = createelonghotelorderrequest.selecttime.split(',');
                                        createelonghotelorderrequest.earliestArrivalTime = selecttimearr[0];
                                        createelonghotelorderrequest.latestArrivalTime = selecttimearr[1];
                                        //总价
                                        createelonghotelorderrequest.totalPrice = $("#@(PageId)totPrice").text();
                                        console.log(createelonghotelorderrequest);

                                        //确认窗口赋值
                                        //总价
                                        confirmorderform.find("td.totalPrice").text(createelonghotelorderrequest.totalPrice);
                                        //联系人
                                        confirmorderform.find("td.contactName").text(createelonghotelorderrequest.contact.Name);
                                        confirmorderform.find("td.contactMobile").text(createelonghotelorderrequest.contact.Mobile);
                                        //入住人
                                        var cus = "";
                                        $.each(createelonghotelorderrequest.orderRooms,function(i,n){
                                            cus += n[0].Name+",";
                                        });
                                        confirmorderform.find("td.orderRooms").text(cus.substring(0,cus.length-1));
                                        //最晚到达
                                        confirmorderform.find("td.latestArrivalTime").text(createelonghotelorderrequest.latestArrivalTime);
                                        //间数
                                        confirmorderform.find("td.numberOfRooms").text(createelonghotelorderrequest.numberOfRooms+" 间");

                                        if (needGuarantee){
                                            $("#@(PageId)CreditCardtable").show();
                                        }
                                        else{
                                            $("#@(PageId)CreditCardtable").hide();
                                        }
                                        confirmorderwin.dialog("open");
                                    }
                                    return false;
                                }
                            });
                        });
                        //通过艺龙预订酒店模态确认窗按钮事件
                        confirmorderwin.dialog({
                            buttons:[
                                {
                                    text:'确认',
                                    iconCls: 'icon-ok',
                                    handler:function(){
                                        var btn = $(this);
                                        //确认通过艺龙预订酒店
                                        //信用卡
                                        var Reg = true;
                                        if (needGuarantee){
                                            Reg = confirmorderform.form('enableValidation').form('validate');
                                            if (Reg){
                                                createelonghotelorderrequest.creditCard = confirmorderform.serializeObject();
                                            }
                                        }
                                        if (Reg){
                                            console.log(createelonghotelorderrequest);
                                            //先提交验证
                                            btn.linkbutton('disable');
                                            $.post("/api/ApiElongHotel/ValidateCreateOrder",createelonghotelorderrequest,function(json){
                                                console.log(json);
                                                if(json.ReturnCode==0){
                                                    //验证成功后提示用户确认
                                                    $.messager.confirm('请确认', '确认预订该酒店房型？'+(needGuarantee?"<br />该订单为担保订单，提预订后未入住会扣除担保金额":""), function (r) {
                                                        if (r){
                                                            //用户确认后提交到艺龙
                                                            $.messager.alert('Success', "提交预订还未开放.", 'info');
                                                        }
                                                    });
                                                }
                                                else{
                                                    $.messager.alert('错误', json.ReturnMessage, 'error');
                                                }
                                                btn.linkbutton('enable');
                                            });
                                            
                                        }
                                    }
                                },
                                {
                                    text:'关闭',
                                    iconCls: 'icon-clear',
                                    handler:function(){
                                        confirmorderwin.dialog("close");
                                    }
                                }
                            ],
                            onClose:function(){
                                //confirmorderform.form("clear");
                            }
                        });
                    });
                </script>
            </form>

            <!--创建本地订单 模态窗-->
            <div id="@(PageId)creteelocationorderwin" class="easyui-dialog" title="请确认" style="width:80%;height:80%; padding:5px;" data-options="iconCls:'icon-edit',resizable:true,modal:true,inline:true,closed:true">
                暂未实现,等待开发
            </div>
            <!--预订确认与信用卡 模态窗-->
            <div id="@(PageId)creteelongorderconfirmwin" class="easyui-dialog" title="请确认" style="width:80%;height:80%; padding:5px;" data-options="iconCls:'icon-help',resizable:true,modal:true,inline:true,closed:true">
                <form id="@(PageId)creteelongorderconfirmform">
                    <table>
                        <tr>
                            <td style="vertical-align:top">
                                <table class="formtable" style="margin-bottom:5px;">
                                    <tr>
                                        <td>酒店</td>
                                        <td colspan="3"><h4>@info.hotelName</h4></td>
                                    </tr>
                                    <tr>
                                        <td>房型</td>
                                        <td colspan="3" style="padding:17px 5px;">@room.name @rate.RatePlanName</td>
                                    </tr>
                                    <tr>
                                        <td>到店日期</td>
                                        <td style="font-weight:bold;">@result.request.arrivalDate.ToShortDateString()</td>
                                        <td>离店日期</td>
                                        <td style="font-weight:bold;">@result.request.departureDate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                        <td>预订间数</td>
                                        <td class="numberOfRooms" style="font-weight:bold;"></td>
                                        <td>入住</td>
                                        <td style="font-weight:bold;">@((result.request.departureDate - result.request.arrivalDate).Days) 晚</td>
                                    </tr>
                                    <tr>
                                        <td>最晚到店时间</td>
                                        <td colspan="3" class="latestArrivalTime"></td>
                                    </tr>
                                    <tr>
                                        <td>预订人</td>
                                        <td class="contactName"></td>
                                        <td>联系电话</td>
                                        <td class="contactMobile"></td>
                                    </tr>
                                    <tr>
                                        <td>入住人</td>
                                        <td colspan="3" class="orderRooms"></td>
                                    </tr>
                                    <tr>
                                        <td>合计金额</td>
                                        <td colspan="3" style="font-weight:bold; color:red" class="totalPrice"></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="vertical-align:top">
                                <table class="formtable" id="@(PageId)CreditCardtable">
                                    <tr>
                                        <td colspan="2" style="background-color:#efefef; font-weight:bold;">预订该酒店需提供信用卡担保</td>
                                    </tr>
                                    <tr>
                                        <td>卡号</td>
                                        <td><input type="text" name="Number" class="easyui-numberbox" data-options="required:true" /></td>
                                    </tr>
                                    <tr>
                                        <td>CVV&nbsp;<a href="javascript:void(0)" title="信用卡背面签名栏旁的数字验证码" data-options="position:'right'" class="easyui-tooltip" style="font-weight:bold;">提示</a></td>
                                        <td><input type="text" name="CVV" class="easyui-textbox" data-options="required:true" /></td>
                                    </tr>
                                    <tr>
                                        <td>有效期（年）</td>
                                        <td>
                                            <select name="ExpirationYear" class="easyui-combobox" data-options="editable:false,required:true">
                                                @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 30; i++)
                                                {
                                                    <option value="@i">@i 年</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>有效期（月）</td>
                                        <td>
                                            <select name="ExpirationMonth" class="easyui-combobox" data-options="editable:false,required:true">
                                                @for (int i = 1; i <= 12; i++) {
                                                    <option value="@i">@i 月</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>持卡人</td>
                                        <td><input type="text" name="HolderName" class="easyui-textbox" data-options="required:true" /></td>
                                    </tr>
                                    <tr>
                                        <td>证件类型</td>
                                        <td>
                                            <select class="easyui-combobox" name="IdType" data-options="editable:false,required:true">
                                                <option value="0">身份证</option>
                                                <option value="1">护照</option>
                                                <option value="2">其他</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>证件号码</td>
                                        <td><input type="text" name="IdNo" class="easyui-textbox" data-options="required:true" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        }
        else {
            <div>没有获取产品信息，可能该房型已不可预订</div>
        }
    }
    else {
        <div>没有获取到房型信息，可能该房型已不可预订</div>
    }
}
else {
    <div>@result.ReturnMessage</div>
}
</div>
</div>